<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.hutuojbackendquestionservice.mapper.QuestionMapper">
    <select id="selectQuestionRecommendations" resultType="com.hutu.hutuojmodel.model.entity.QuestionRecommendations">
        SELECT *
        FROM question_recommendations
        WHERE userId = #{userId}
    </select>
</mapper>
